:root{
  --color-titulo: #FFFF;
  --color-button: #8E1102;
  --bg-color: #1C1C26;
  --color-link: #D96907;
}
.titulo{
  font-family: 'Roboto Slab', serif;
  color: var(--color-titulo);
}
.titulo:hover{
  color: var(--color-link);
}
.font-nav{
  font-family: 'Roboto Slab', serif;
  font-weight: 500;
}
.navbar-toggler-icon {
  background-color: var(--color-titulo);
}
.carousel-inner {
  object-fit: cover;  
  object-position: 0 80%;
}
.img-carrosel{
  height: 50%;
  width: 50%;
}
.titulo-carrosel{
  font-family: 'Roboto Slab', serif;
  color: var(--color-button);
  font-size: 55px;
}
.descricao-carrosel{
  font-size: 25px;
  color: var(--color-titulo);
}
.titulo-principal{
  font-family: 'Roboto Slab', serif;
  color: var(--color-button);
}
.txt-principal{
  font-family: 'Nunito Sans', sans-serif;
}